@import "layout/font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .focus-ring {
    @apply focus-visible:border-transparent focus:outline-none focus-visible:ring focus-visible:ring-rose-500 focus-visible:ring-opacity-60;
  }

  .shadow-xs {
    box-shadow: 0.5px 1px 2px 0 rgb(0 0 0 / 0.1);
  }
}

.codex-editor {
  .ce-header {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans;
  }

  h1 {
    font-size: 2em;
    /* margin: 0.67em 0; */
  }
  h2 {
    font-size: 1.5em;
    /* margin: 0.75em 0; */
  }
  h3 {
    font-size: 1.17em;
    /* margin: 0.83em 0; */
  }
  h4 {
    font-size: 1em;
    /* margin: 1.12em 0; */
  }
  h5 {
    font-size: 0.83em;
    /* margin: 1.5em 0; */
  }
  h6 {
    font-size: 0.75em;
    /* margin: 1.67em 0; */
  }
}
